/* style.css */


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}


.header-title {
  font-size: 1.5em;
  font-weight: bold;
}

.header-count {
  font-size: 1em;
  color: #252525;
}

.header-title {
  font-size: 1.5em;
  font-weight: bold;
}

.header-count {
  font-size: 1em;
  color: #252525;
}

h1 {
  font-size: 2em;
  color: #333;
}



footer {
  background-color: #9c9c9c;
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
  color: #6c757d;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.separe-content{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  height: 100vh;

}




a {
  text-decoration: none;
  color: #1c1c1c;
}


.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 500px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5rem;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.input,
.textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.textarea {
  min-height: 100px;
}

.button {
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
